{% extends 'base.html' %}

{% block title %}编辑博客{% endblock %}

{% block beforehead %}

<script type="text/javascript">
	function initVM(blog) {
		var vm = new Vue({
			el: '#vm',
			data: blog,
			methods: {
				submit: function(event){
					event.preventDefault();
					$form = $('#vm').find('form');
					console.log(this.$data);
					$form.postJSON('/api/blogs', this.$data, function(err, r){
						if(err){
							return $form.showFormError(err)
						}
						return location.assign('/')
					});
				}
			}
		});
		$('#vm').show();
	}
	$(function () {
		var ID = '{{id}}', action = '{{action}}';
		if(ID > 0){
			getJSON(action + '/' + ID, function(err, data){
					if(err){
						return fatal(err)
					}
					$('#loading').hide();
					console.log(data.blog)
					initVM(data.blog);
				})
		}else {
			$('#loading').hide()
			initVM(
				{
					id: '',
					name: '',
					summary: '',
					content: ''
				}
			);
		}
		
	});
</script>

{% endblock %}

{% block content %}
	
	<div class="uk-width-1-1 uk-margin-bottom">
		<div class="uk-panel uk-panel-box">
			<ul class="uk-breadcrumb">
				<li><a href="/manage/comments"></a>评论</li>
				<li><a href="/manage/blogs"></a>日志</li>
				<li><a href="/manage/users"></a>用户</li>
			</ul>
		</div>
	</div>

	<div id='error' class="uk-width-1-1"></div>

	<div id='loading' class="uk-width-1-1, uk-text-center">
		<span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>正在加载 ... </span>
	</div>

	<div id="vm" class="uk-width-2-3">
		<form @submit="submit" class="uk-form uk-form-stacked">
			<div class="uk-alert uk-alert-danger uk-hidden"></div>
			
			<div class="uk-form-row">
				<label class="uk-form-label">标题: </label>
				<div class="uk-form-controls">
					<input type="text" v-model="name" maxlength="50" placeholder="标题" class="uk-width-2-3">
				</div>
			</div>
			
			<div class="uk-form-row">
				<label class="uk-form-label">摘要: </label>
				<div class="uk-form-controls">
					<textarea v-model="summary" rows="3" style="resize: none" placeholder="摘要" class="uk-width-1-1"></textarea>
				</div>
			</div>
			
			<div class="uk-form-row">
				<label class="uk-form-label">内容: </label>
				<div class="uk-form-controls">
					<textarea v-model="content" rows="6" style="resize: none" placeholder="内容" class="uk-width-1-1"></textarea>
				</div>
			</div>
			
			<div class="uk-form-row">
				<div class="uk-form-controls">
					<button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-save"></i>保存</button>
					<a href="/manage/blogs" class="uk-button"><i class="uk-icon-time"></i>取消</a>
				</div>
			</div>

		</form>
	</div>

{% endblock %}
