{% extends 'base.html' %}

{% block title %}图片列表{% endblock %}

{% block beforehead %}
<style>
</style>
<script type="text/javascript">
	Vue.component('compage',{
		template: `
					<div :style="'display: inline; position: absolute; width: 100%;'">
						<ul :style="pf_pagination">
							<li :style="pf_pagination_item"><span>共<span v-text="page.page_count"></span>页</span></li>
							<li :style="pf_pagination_item"><a @click="prev">上一页</a></li>
							<li :style="pf_pagination_item"><span v-text="page.page_index"></span></li>
							<li :style="pf_pagination_item"><a @click="next">下一页</a></li>
							<li :style="pf_pagination_item"><input :style="pf_input" type=number v-model="inputval" @keyup.enter="gotoPage"></li>
						</ul>
					</div>
					`,
		props: ['page'],
		data: function () {
			return {
				inputval: 0,
				pf_pagination: `
					position: relative;
					display: flex;
					flex-wrap: wrap;
				/*	margin-left: -20px; */
					padding: 0;
					list-style: none;
					padding: 0px 30px;
				`,
				pf_pagination_item: `
					flex: none;
					padding-left: 20px;
					position: relative;
				`,
				pf_input: `
					    padding: 0px 10px;
						border-radius: 5px;
						margin: 1%;
						width: 35%;
				`
			}
		},
		methods: {
			prev: function(){
				if(this.page.page_index > 0) {
					this.page.page_index--
					this.$emit('goto', this.page.page_index)
				}
				
			},
			next: function(){
				if(this.page.page_index < this.page.page_count - 1) {
					this.page.page_index++
					this.$emit('goto', this.page.page_index)
				}
				
			},
			gotoPage: function(){
				if(this.inputval >= 0 && this.inputval < this.page.page_count)
				this.$emit('goto', this.inputval)
			}
		}
	});
	
	Vue.component('viewcom', {
		template: `
					<div :style="pf_view_panel">
						<div id="album_item" :style="pf_view_item" @mousemove="nametoggle" @mouseleave="nametoggle" @click="modaltoggle">
							<p :style="pf_view_name" v-text="name"></p>
						</div>
						<div id="album_modal" :style="pf_view_modal" @dblclick="modaltoggle" @mousewheel="scale" @mouseup="removemark" @mousedown="markxy" @mousemove="movepic"></div>
					</div>
		`,
		props: ['name', 'url'],
		data: function() {
			return {
				pf_view_panel: `
/*	*/				
					position: relative;
					float: left; 
					width: 15%; 
					height: 40%; 
					margin: 2%; 
					display: flex; 
					justify-content: center; 
					align-items: center;
					border-radius: 5px;

					border: 1px solid #efefef;
					// background-color: rgba(0, 0, 0, 0.6);s

					// background-size: cover;
					// background-position: 50% 50%;
					// backgroundPosition: center center;
					// background-repeat: no-repeat;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
				`,
				pf_view_item:`
					position: relative;
					width: 100%; 
					height: 100%;
				`,
				pf_view_name: `
					position: absolute;
					bottom: 0;
					margin: 0;
					width: 100%;
					height: 0%;
					background-color: rgba(0, 0, 0, 0.7);
					transition: 0.5s;
					text-align: center;
					color: #0FF;
					text-overflow:ellipsis;
					overflow: hidden;
				`,
				pf_view_modal: `
					background-color: rgba(0, 0, 0, 0.6);
				//	background-position: 50% 50%;
					background-repeat: no-repeat;
					backgroundPosition: 50% 50%;
					position: fixed;
					top: 0;
					left:0;
					display: none;
					z-index: 1;
				`
			}
		},
		mounted: function(){
			this.$el.style.backgroundImage = 'url(' + this.url + ')'
		},
		updated: function(){
			this.$el.style.backgroundImage = 'url(' + this.url + ')'
		},
		methods: {
			nametoggle: function(event){
				event = event || window.event
				let el = event.currentTarget
				let elcp = el.querySelector("p")
				width = Number(el.offsetWidth)
				height = Number(el.offsetHeight)
				x = event.offsetX
				y = event.offsetY
				if(x > 5 && x < width - 5 && y > 5 && y < height - 5){
					elcp.style.height = 'auto'
					elcp.style.height = elcp.offsetHeight + 'px'
					el.style.cursor = "zoom-in"
				}else{
					elcp.style.height = '0%'
					el.style.cursor = "default"
				}
			},
			modaltoggle: function(event){
				event = event || window.event
				let el = event.currentTarget
				if(el.id == "album_modal"){
					el.style.display = "none"
					el.style.cursor = "default"
					
					this.move()
					
				}else{
					let modal = el.parentNode.querySelector("#album_modal")

					modal.style.display = "block"
					modal.style.width = window.innerWidth + 'px'
					modal.style.height = window.innerHeight + 'px'
					modal.style.backgroundImage = 'url("' + this.url + '")'
					modal.style.backgroundSize = "40%"
					let percent = Number(modal.style.backgroundSize.substr(0, modal.style.backgroundSize.length - 1)) / 200
					modal.style.backgroundPosition = (document.body.clientWidth * (0.5 - percent)) + 'px ' + (document.body.clientHeight * (0.1)) + 'px'
					
					modal.style.cursor = "pointer"

					let img = document.createElement('img')
					img.src = this.url
					modal.width_ = img.width
					modal.height_ = img.height

					el.querySelector("p").style.height = '0%'

					this.stop()
				}
			},
			scale: function(event) {
				event = event || window.event
				let delta = event.wheelDelta || event.detail
				let el = event.currentTarget
				let curSize = el.style.backgroundSize.substr(0, el.style.backgroundSize.length - 1)
				if(delta > 0){
					curSize = Number(curSize) < 100 ? Number(curSize) + 1 : curSize
				}else{
					curSize = Number(curSize) > 1 ? Number(curSize) - 1 : curSize
				}
				el.style.backgroundSize = curSize + '%'
			},
			markxy: function(event){
				event = event || window.event
				let el = event.currentTarget
				el.px = event.clientX
				el.py = event.clientY
			//	console.log('down x: ' + el.px + ' y: ' + el.py)
			},
			movepic: function(event){
			
				event = event || window.event
				let el = event.currentTarget
				if(el.px > 0 && el.py > 0){
					let x = event.clientX
					let y = event.clientY
					let curPos = el.style.backgroundPosition;
					let xy = curPos.replace(' ', '').split('px')

					let deltaX = el.px - Number(xy[0])
					let deltaY = el.py - Number(xy[1])
					el.px = x
					el.py = y

					let width = window.innerWidth
					let height = window.innerHeight

					el.style.backgroundPosition = (x - deltaX) + 'px ' + (y - deltaY) + 'px'
				}
			},
			removemark: function(event){
				event = event || window.event
				let el = event.currentTarget
				el.px = -1
				el.py = -1
			},
			/***滑动限制***/
			stop: function(){
				var mo=function(e){e.preventDefault();};
				document.body.style.overflow='hidden';
				document.addEventListener("touchmove",mo,false);//禁止页面滑动
			},
			/***取消滑动限制***/
			move: function(){
				var mo=function(e){e.preventDefault();};
				document.body.style.overflow='';//出现滚动条
				document.removeEventListener("touchmove",mo,false);
			}
		}
	});
	
	Vue.component('album', {
		template: `
			<div :style="contain">
				<viewcom v-for="image in images" :name="image.name"  :url="baseurl+image.hashpath"></viewcom>
<!--
				<div v-for="image in images" :style="panel">
					<viewcom :name="image.name" :url="baseurl+image.hashpath"></viewcom>
				</div>
				<div id="album_item" :style="panel" v-for="image in images">
					<img :style="panelimg" :src="baseurl+image.hashpath"></img>
					<p :style="panelp" v-text="image.name"></p>
				</div>
				<div id="album_modal" :style="modal" @click="modaltoggle"></div>
-->
			</div>
		`,
		props: ['images', 'baseurl'],
		data: function() {
			return {
				contain: `
					position: relative;
					width: 75%;
					height: 490px;
				/*	border: 1px solid red; */
				`,
				panel: `
					position: relative;
					float: left; 
					width: 15%; 
					height: 40%; 
					margin: 2%; 
					display: flex; 
					justify-content: center; 
					align-items: center;
				`,
				panelimg: `
					width: 100%;
					height: auto;
					height: 70%;
					border-radius: 10px;
				`,
				panelp: `
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 0%;
					background-color: rgba(0, 0, 0, 0.7);
					transition: 0.5s;
					text-align: center;
					color: #0FF;
					overflow: hidden;
				`,
				modal: `
					background-color: rgba(0, 0, 0, 0.6);
					background-size: 40% 80%;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					backgroundPosition: center center;
					position: fixed;
					top: 0;
					left:0;
					display: block;
				`
			}
		},
		methods: {
			nametoggle: function(event){
				event = event || window.event
				let el = event.currentTarget
				let elcp = el.querySelector("p")
				width = Number(el.offsetWidth)
				height = Number(el.offsetHeight)
				x = event.offsetX
				y = event.offsetY
				if(x > 5 && x < width - 5 && y > 5 && y < height - 5){
					elcp.style.height = '13%'
				}else{
					elcp.style.height = '0%'
				}
			},
			modaltoggle: function(event){
				event = event || window.event
				let el = event.currentTarget
				if(el.id == "album_item"){
					let flag = el.querySelector("img").src.split('/').pop()
					// el.parentNode.querySelector("#album_modal").style.width = el.parentNode.offsetWidth + 'px'
					// el.parentNode.querySelector("#album_modal").style.height = el.parentNode.offsetHeight + 'px'
					el.parentNode.querySelector("#album_modal").style.width = window.innerWidth + 'px'
					el.parentNode.querySelector("#album_modal").style.height = window.innerHeight + 'px'
					el.parentNode.querySelector("#album_modal").style.backgroundImage = 'url("' + this.baseurl + flag + '")'
					el.parentNode.querySelector("#album_modal").style.display = "block"
				}else{
					el.parentNode.querySelector("#album_modal").style.display = "none"
				}
			}
		}
	});
	
	var vm
	function initVM(data) {
		vm = new Vue({
			el: '#vm',
			data: {
				images: data.images,
				page: data.page
			},
			methods: {
				goto: function(index){
					console.log(index)
					getJSON('/api/load/images/' + index, 
							function(err, data){
								if(err){
									return fatal(err)
								}
								$('#loading').hide()
									vm.images = data.images;
								vm.page = data.page;
							});
				}
			}
		});
	}
	$(function () {
		getJSON('{{action}}',  
				function(err, data){
					if(err){
						return fatal(err)
					}
					$('#loading').hide()
					initVM(data)
				});
	});
</script>

{% endblock %}

{% block content %}
	
	<div id='loading' class="uk-width-1-1, uk-text-center">
		<span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>正在加载 ... </span>
	</div>

	<div id="vm" class="uk-width-1-1">
		<album class="uk-width-2-3" :images="images" :baseurl="'/api/file/'"></album>
		<hr>
		<compage :page="page" @goto="goto"></compage>
	</div>



{% endblock %}
