{% extends 'base.html' %}

{% block title %}图片列表{% endblock %}

{% block beforehead %}
<style>
	.page_ {
		padding: 10px;
		border-radius: 5px;
		margin: 3px;
		width: 50px;
	}
	.panel_ {
		display: inline;
		background-color: #f1f1f1;
		box-shadow: 2px 2px 2px;
	}

	.grid {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
    .item {
        flex: 0 0 15%;
        margin: 10px;
        width: auto;
    }

	.item>src {
		height: 100px;
	}	
</style>
<script type="text/javascript">
	Vue.component('compage',{
		template: `<div>
						<div class="page_ panel_">共 <span v-text="page.page_count"></span> 页</div>
						<button @click="prev" class="page_">pre</button>
						<button v-text="page.page_index" class="page_"></button>
						<button @click="next" class="page_">next</button><input type=number v-model="inputval" @keyup.enter="gotoPage" class="page_">
					</div>`,
		props: ['page'],
		data: function () {
			return {
				inputval: 0
			}
		},

		methods: {
			prev: function(){
				if(this.page.page_index > 0) {
					this.page.page_index--
					this.$emit('goto', this.page.page_index)
				}
				
			},
			next: function(){
				if(this.page.page_index < this.page.page_count - 1) {
					this.page.page_index++
					this.$emit('goto', this.page.page_index)
				}
				
			},
			gotoPage: function(){
				if(this.inputval >= 0 && this.inputval < this.page.page_count)
				this.$emit('goto', this.inputval)
			}
		}
	});

	var vm
	function initVM(data) {
		vm = new Vue({
			el: '#vm',
			data: {
				images: data.images,
				page: data.page
			},
			methods: {
				goto: function(index){
					console.log(index)
					getJSON('/api/load/images/' + index, 
							function(err, data){
								if(err){
									return fatal(err)
								}
								$('#loading').hide()
									vm.images = data.images;
								vm.page = data.page;
							});
				}
			}
		});
		$('#vm').show();
	}
	$(function () {
		getJSON('{{action}}',  
				function(err, data){
					if(err){
						return fatal(err)
					}
					$('#loading').hide()
					initVM(data)
				});
	});
</script>

{% endblock %}

{% block content %}
	
	<div id='loading' class="uk-width-1-1, uk-text-center">
		<span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i>正在加载 ... </span>
	</div>

	<div id="vm">
		<div class="grid">
			<div v-for="image in images" class="item">
				<img :src="'/api/file/'+image.hashpath"></img>
			</div>
		</div>
		<compage :page="page" @goto="goto"></compage>
	</div>

{% endblock %}
